@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-size: 16px;
  line-height :1.8em;
  font-family: 'Raleway', sans-serif;
}

a {
  color:  #5ba7d1;
  text-decoration: none;
  background-color: cornflowerwhite;
  transition: background-color 0.5s, color 0.5s;
}

a:hover {
  opacity: 0.5;
}

article {
  padding:0 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: right;
  background-image: url(./img/tlo-strona.png);
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: fixed;
  color: white; 
}

header section {
  margin: 0 auto;
  max-width: 640px;
  text-align: justify;
}

header img {
  text-align: right;
  border-radius: 50%;
  max-width: 150px;
  margin-right: 2%; 
}


.fab{
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
  color: white;
}

.fa-linkedin-in:before {
  content: "\f0e1";
}

h1 {
  margin: 0 auto;
  font-weight: bold;
  text-transform:  none;
  text-align: center;
}

h2 {
  margin: 0 auto;
  text-transform:  none;
  text-align: center;
}

h3, h4 {
  margin: 1em 0;
  text-transform:  uppercase;
  font-weight: bold;
}

.descrition p{
  text-align: justify;
}

.course, .skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  color: #03989e;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.course .descrition {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.course .descrition p {
  padding-left: 1em;
}


main {
  max-width: 1140px;
}

main section:not(:last-child){
  border-bottom: 1px solid #cccc;
}

.skills .kolumna {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .kolumna ul, ul.job-description {
  list-style-type: none;
}

.skills .kolumna ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: #03989e;
}

.experience ul ul.software {
  list-style-type: none;
}

ul.job-description li:before {
  content: "✔";
  padding-right: 0.5em;
  color: #03989e;
}

.education {
  text-transform: capitalize;
}
.education span, .experience span {
  color: #03989e;
}

.container{
  padding-right: 15px;
  padding-left: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.navbar{
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.fixed-top{
  position: fixed;
  top: 10px;
  border-width: 0 0 1px;
  z-index: 1030;
}

a.nav-link {
  color:  white;
  text-decoration: none;
  background-color: black;
  transition: background-color 0.5s, color 0.5s;
}

.navbar-nav{
  margin: auto !important;
  list-style: none;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: space-between;
  gap: 10px;
}

footer {
 padding: 1em 1.2em;
 background:#03989e;
 color: white;
 text-align: right;
}

@media only screen and (max-width: 768px) {
  .course {
    display: block;
  }

  .course .title, .course .descrition {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }
}